<!DOCTYPE html>
<html ng-app="myTrello">
  <head>
    <base href="/">
    <title>MyTrello</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/vendor/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

  <body>

    <!-- navbar  -->
    <div layout="column" layout-fill>
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <md-button  ng-href="/">
              MyTrello
            </md-button>
          </h3>

          <span flex="5"></span>

          <md-input-container md-no-float ng-controller="SearchController">
            <ng-md-icon icon="search" size="24" class="search"></ng-md-icon>
            <input type="text" placeholder="Search" class="md-primary" ng-model="searchText" search-directive>
          </md-input-container>

          <span flex></span>
          <hyper-yield to="header"></hyper-yield>
        </div>
      </md-toolbar>
      <md-content style="height: 705px;">
        <!-- render partial template -->
        <div ng-view style="height: 100%;">
        </div>
      </md-content>
    </div>

    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Angular Components -->
    <script src="/vendor/bower_components/angular/angular.min.js"></script>
    <script src="/vendor/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/vendor/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/vendor/bower_components/hyper-content-for/dist/hyper-content-for.js"></script>

    <!-- Angular Material Dependencies -->
    <script src="/vendor/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/vendor/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/vendor/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/vendor/bower_components/angular-material-icons/angular-material-icons.min.js"></script>

    <!-- Trello API -->
    <script src="https://api.trello.com/1/client.js?key=b8df8237922a22c7ab9bfa0296b22266"></script>

    <!-- custom scripts -->
    <script src="/javascripts/myTrello.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/ng-app/ng-app.js"></script>

    <!-- link directives -->
    <script src="/javascripts/ng-app/directives/search-directive.js"></script>
    <script src="/javascripts/ng-app/directives/list-name-directive.js"></script>
    <script src="/javascripts/ng-app/directives/comment-directive.js"></script>

    <!-- link services -->
    <!-- // <script src="/javascripts/ng-app/services/boards-service.js"></script> -->
    <!-- // <script src="/javascripts/ng-app/services/data-update-service.js"></script> -->
    <script src="/javascripts/ng-app/services/search-service.js"></script>

    <!-- link controllers -->
    <script src="/javascripts/ng-app/controllers/boards-controller.js"></script>
    <script src="/javascripts/ng-app/controllers/board-controller.js"></script>
    <script src="/javascripts/ng-app/controllers/search-controller.js"></script>
    <script src="/javascripts/ng-app/controllers/comment-reply-dialog-controller.js"></script>
    <script src="/javascripts/ng-app/controllers/comment-new-dialog-controller.js"></script>
    <script src="/javascripts/ng-app/controllers/comment-bottom-sheets-list-controller.js"></script>
  </body>
</html>
