<div layout="column" style="height: 100%;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="lists-toolbar">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>

      <md-content>
        <md-list role="list" class="md-default-theme">
          <md-list-item role="listitem" class="md-3-line md-no-proxy" ng-repeat="list in getBoardLists()">
            <md-button ng-href="#{{ list.id}}" class="list-btn">
              <span>
                {{ list.name}}
              </span>
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <!-- <md-content flex layout-padding class="md-default-theme"> -->
      <!-- <div class="cards"> -->
        <!-- <md-card > -->
          <!-- <md-card-content> -->
            <!-- <h2 class="md-title">Paracosm</h2> -->
            <!-- <p> -->
              <!-- The titles of Washed Out's breakthrough song and the first single from Paracosm share the -->
              <!-- two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well... -->
            <!-- </p> -->
          <!-- </md-card-content> -->
        <!-- </md-card> -->
      <!-- </div> -->
    <!-- </md-content> -->
  </section>
</div>
