<div layout="column" style="height: 100%;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="lists-toolbar">
        <h1 class="md-toolbar-tools">{{ getBoard().name }}</h1>
      </md-toolbar>

      <md-content>
        <md-list role="list" class="md-default-theme">
          <md-list-item ng-init="index === 0 && requestListCardsByListId(list.id)" role="listitem" class="md-3-line md-no-proxy" ng-repeat="(index, list) in boardLists">
            <md-button ng-href="#" ng-click="requestListCardsByListId(list.id)" class="list-btn">
              <span>
                {{ list.name }}
              </span>
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <md-content flex layout-padding class="md-default-theme">
      <div class="cards">
        <md-card ng-repeat="card in listCards">
          <md-card-content>
            <h3 class="md-title card-name">
              {{ card.name }}
            </h3>

            <div class="disc-content" ng-show="card.desc !== ''">
              <h4 class="md-title">
                Description
              </h4>
              <p>
                {{ card.desc }}
              </p>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </section>
</div>
