<md-dialog aria-label="Reply Comment" ng-controller="ReplyCommentDialogController">
  <md-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">Reply Comment</md-subheader>
    <div class="dialog-content">
      <md-input-container flex>
        <label>Biography</label>
        <textarea  columns="1" md-maxlength="150"></textarea>
      </md-input-container>
    </div>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-href="" ng-click="cancel()">
      Cancel
    </md-button>
    <span flex></span>
    <md-button ng-href="" ng-click="reply('not useful')">
      Reply
    </md-button>
  </div>
</md-dialog>
