<div>
  <md-content ng-controller="SearchController">
    <div ng-repeat="list in lists">
      <h2 layout-padding class="md-title" list-name-directive="list"></h2>
      <md-divider></md-divider>
      <div ng-repeat="cards in list">
        <md-card ng-repeat="card in cards">
          <md-card-content>
            <h3 class="md-title">{{ card.name }}</h3>
            <p ng-show="card.desc !== '' || car.desc !== undefined">
              <strong>
                Describe
              </strong>:
              <br>
              {{ card.desc }}
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-content>
</div>
